@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

img {
border:0px;
}
body{
margin:0px;
padding:0px;
font-family: 'Nanum Gothic', sans-serif;
}
#header_bg {
width:100%;
}
#header {
padding:0px;
overflow:hidden;
}
#header_r {
float:right;
width:250px;
height:128px;
overflow:hidden;
}
#header_r a {
width:199px;
height:61px;
margin:35px 20px 0 0;
text-decoration:none;
display:block;
}
#header_c_t li {
float:left;
height:20px;
overflow:hidden;
}
#header_c_t li a {
border-right:1px solid #c1c1c1;
text-decoration:none;
color:#666666;
font-size:11px;
margin:0 5px 0 0;
padding:0 5px 0 0;
}
#header_c_b {
width:250px;
list-style:none;
margin:0 auto;
margin-top:10px;
padding:0px;
text-align:center;
overflow:hidden;
}
#header_c_b li {
display:inline;
margin:0px;
padding:0px;
overflow:hidden;
}
#header_c_b li a {
border-right:1px solid #c1c1c1;
margin:0 7px 0 0;
padding:0 7px 0 0;
text-decoration:none;
color:#676767;
font-size:13px;
font-weight:bold;
font-family:'Arial';
}
#contents {
overflow:hidden;
}
#main {
margin:0px;
padding:0px;
overflow:hidden;
}
.arrow_l {
position:absolute;
left:5px;
top:118px;
width:20px;
height:40px;
margin:0px;
padding:0px;
overflow:hidden;
}
.arrow_l a {
background-color:#000000;
border-radius:2px;
opacity:0.2;
text-decoration:none;
display:block;
width:10px;
height:30px;
padding:5px;
overflow:hidden;
}
.arrow_l a div{
background-image:url(/mhmall-frontend/assets/images/arrow_l.png);
background-repeat:no-repeat;
background-size:contain;
width:10px;
height:25px;
margin:3px 0 0 0;
}
.arrow_l a:hover {
opacity:0.5;
}
.arrow_r {
position:absolute;
right:5px;
top:118px;
width:20px;
height:40px;
margin:0px;
padding:0px;
overflow:hidden;
}
.arrow_r a {
background-color:#000000;
border-radius:2px;
opacity:0.2;
text-decoration:none;
display:block;
width:10px;
height:30px;
padding:5px;
overflow:hidden;
}
.arrow_r a div{
background-image:url(/mhmall-frontend/assets/images/arrow_r.png);
background-repeat:no-repeat;
background-size:contain;
width:10px;
height:25px;
margin:3px 0 0 0;
}
.arrow_r a:hover {
opacity:0.5;
}
.main_best {
margin:0px;
padding:0px;
position:relative;
overflow:hidden;
}
.main_best h1 {
font-family:'Arial';
width:100%;
height:30px;
line-height:30px;
font-size:15px;
font-weight:bold;
margin:5px;
padding:0px;
overflow:hidden;
}
.main_best_scroll {
border:1px solid #d6d6d6;
margin:0px;
padding:20px;
overflow:hidden;
}
.main_best_scroll_in {
margin:0px;
padding:0px;
overflow:hidden;
}
.main_best ul {
width:1460px;
height:172px;
list-style:none;
margin:0px;
padding:0px;
}
.main_best ul li {
width:114px;
height:152px;
float:left;
text-align:center;
margin:0 9px 0 0;
padding:10px;
overflow:hidden;
}
.main_best ul li a {
text-decoration:none;
margin:0px;
padding:0px;
color:#666666;
font-size:12px;
}
.main_best ul li a img {
border:1px solid #eeeeee;
}



#copy_bg {
background:url(/mhmall-frontend/assets/images/bottom_bg.jpg) left top repeat-x;
width:100%;
margin:35px 0 0 0;
padding:35px 0 0 0;
overflow:hidden;
}
#copy {
margin:0 auto;
margin-bottom:30px;
padding:0px;
width:965px;
overflow:hidden;
}
#copy h1 {
float:left;
width:200px;
height:110px;
margin:0px;
padding:0px;
border-right:1px solid #e5e5e5;
overflow:hidden;
}
#copy h1 img {
margin:30px 0 0 50px;
}
#copy_c {
float:left;
width:539px;
margin:10px 0 0 20px;
padding:0px;
overflow:hidden;
}
#copy_c ul {
list-style:none;
width:100%;
margin:0px;
padding:0px;
overflow:hidden;
}
#copy_c ul li {
float:left;
margin:0px;
padding:0px;
overflow:hidden;
}
#copy_c ul li a {
border-right:1px solid #dedede;
text-decoration:none;
color:#8e8e8e;
padding:0 15px 0 0;
margin:0 15px 0 0;
font-size:11px;
}
#copy_c p {
background:url(/mhmall-frontend/assets/images/copyright.jpg) left top no-repeat;
font-size:0px;
line-height:5000px;
width:539px;
height:56px;
margin:10px 0 0 0;
padding:0px;
overflow:hidden;
}
#copy_r {
float:right;
background:url(/mhmall-frontend/assets/images/copy_mark.jpg) left top no-repeat;
width:185px;
height:46px;
margin:45px 0 0 0;
padding:0px;
overflow:hidden;
}








/* 회원가입 */
.join_first {
padding:0px;
overflow:hidden;
}
.join_box1 {
font-family:'Arial';
background:#4c71d0;
color:#ffffff;
overflow:hidden;
}
.join_box1 div {
background:#ffffff;
padding:0px;
height:1px;
overflow:hidden;
}
.join_box1 a {
border:1px solid #6081df;
background:#ffffff;
text-decoration:none;
display:block;
color:#4d6bcc;
font-size:11px;
text-align:center;
padding:0px;
}
.join_box2 {
font-family:'Arial';
background:#4a5d9d;
color:#ffffff;
overflow:hidden;
}
.join_box2 div {
background:#ffffff;
padding:0px;
height:1px;
overflow:hidden;
}
.join_box2 a {
border:1px solid #344066;
background:#ffffff;
text-decoration:none;
display:block;
color:#354168;
font-size:11px;
text-align:center;
padding:0px;
}


.join_agree_bg {
background:#f5f6f8;
width:100%;
margin:3px 0 0 0;
overflow:hidden;
}
.join_agree {
margin-top:10px;
margin-bottom:40px;
padding:0px;
overflow:hidden;
}
.join_agree_header {
border-bottom:1px solid #c4c5c7;
overflow:hidden;
}
.join_agree_header h1 {
font-family:'Arial';
font-size:25px;
margin:0px;
padding:0px;
overflow:hidden;
}
.join_agree_header ul {
margin:0px;
list-style:none;
overflow:hidden;
}
.join_agree_header ul li {
float:right;
margin:5px 0 0 20px;
padding:0 0 3px 0;
font-weight:bold;
font-family:'Arial';
color:#999999;
overflow:hidden;
}
.join_agree_c {
margin:10px 0 10px 0;
padding:0 10px 0 10px;
font-size:14px;
color:#999999;
overflow:hidden;
}
.join_agree_b {
background:#ffffff;
padding:0px;
overflow:hidden;
}
.join_agree_b_t {
background:#555555;
padding:10px 0 10px 0;
overflow:hidden;
}
.join_agree_b_t h1 {
font-family:'Arial';
font-size:17px;
line-height:25px;
height:25px;
color:#ffffff;
padding:0px;
overflow:hidden;
}
.join_agree_b_t input {
display:none;
}
.join_agree_b_t label {
background:url(/mhmall-frontend/assets/images/check1.jpg) no-repeat left top;
display:block;
border:0px;
width:25px;
height:25px;
overflow:hidden;
}
.join_agree_b_t label:hover {
background:url(/mhmall-frontend/assets/images/check1.jpg) no-repeat left top;
}
.join_agree_b_t input[type=checkbox]:checked + label {
background:url(/mhmall-frontend/assets/images/check2.jpg) no-repeat left top;
}
.join_agree_b_t p {
font-size:17px;
font-weight:bold;
font-family:'Arial';
line-height:25px;
height:25px;
color:#ffffff;
padding:0px;
overflow:hidden;
}
.join_agree_b_b {
border-right:1px solid #dcdcdc;
border-bottom:1px solid #dcdcdc;
border-left:1px solid #dcdcdc;
overflow:hidden;
}
.join_agree_b_b div {
border:1px solid #dcdcdc;
font-size:12px;
color:#555555;
overflow-y:scroll;
}
.join_red_button {
overflow:hidden;
}
.join_red_button a {
background:#eb2b2b;
font-size:15px;
font-weight:bold;
color:#ffffff;
text-decoration:none;
display:block;
height:45px;
line-height:45px;
text-align:center;
margin-top:20px;
border-top:1px solid #d81818;
border-right:1px solid #d81818;
border-bottom:1px solid #9e1212;
border-left:1px solid #d81818;
overflow:hidden;
}


.joins {
list-style:none;
border:0px;
padding:0px;
}
.joins li {
padding:10px 0 10px 0;
margin:0px;
overflow:hidden;
}
.joins li h1 {
text-align:left;
font-weight:normal;
color:#4d4d4d;
font-size:15px;
margin:0px;
padding:0px;
height:35px;
line-height:35px;
overflow:hidden;
}
.joins li div {
margin:0px;
overflow:hidden;
}
.join_input {
font-size:15px;
padding:0 10px 0 10px;
margin:0px;
height:35px;
line-height:35px;
color:#666666;
}
.join_id_button {
padding:0 10px 0 10px;
margin:0px;
text-align:center;
height:37px;
line-height:37px;
font-size:12px;
font-weight:bold;
color:#ffffff;
background:#7c7c7c;
border-top:1px solid #676767;
border-right:1px solid #676767;
border-bottom:1px solid #4c4c4c;
border-left:1px solid #676767;
}
.join_agree_end {
width:100%;
margin:0px;
padding:100px 0 100px 0;
text-align:center;
font-size:25px;
font-weight:bold;
font-family:'Arial';
overflow:hidden;
}










/* 상품보기 */
.view_bg {
overflow:hidden;
}
.list_v_t {
margin:40px 0 10px 0;
padding:0 0 10px 0;
overflow:hidden;
}
.list_v_t h1 {
border-bottom:2px solid #5c5c5c;
width:auto;
margin:0px;
padding:0 0 15px 10px;
font-size:30px;
overflow:hidden;
}
.list_v_dcl {
float:left;
color:#f43142;
font-weight:bold;
font-size:50px;
font-family:'Arial';
width:100px;
margin:0px;
padding:0px;
}
.list_v_dcr {
font-family:'Arial';
float:left;
margin:0px;
padding:0px;
font-size:34px;
}
.list_v_t_r_box1 {
background:#fafafa;
width:100%;
height:50px;
line-height:50px;
font-size:17px;
font-weight:bold;
padding:0 0 0 20px;
}
.list_v_t_r_box2 {
background:#f3f3f3;
width:100%;
height:50px;
line-height:50px;
font-size:17px;
font-weight:bold;
padding:0 0 0 20px;
}
.list_v_t_r_box2_l {
float:left;
width:120px;
margin:0px;
padding:0px;
overflow:hidden;
}
.list_v_t_r_box2_r {
float:left;
text-align:center;
margin:0px;
padding:0px;
overflow:hidden;
}
.view_btn {
background:#ffffff;
width:22px;
height:22px;
font-size:15px;
margin:0px;
padding:0px;
border:1px solid #a1a1a1;
}
.view_input {
background:#ffffff;
width:30px;
height:20px;
font-size:15px;
margin:0px;
padding:0 3px 0 3px;
border:1px solid #a1a1a1;
}
.list_v_t_r_btn {
width:355px;
margin:0 auto;
margin-top:30px;
padding:0px;
overflow:hidden;
}
.list_v_t_r_btn a {
float:left;
height:50px;
display:block;
margin:0px;
padding:0px;
overflow:hidden;
}


/* 상품보기 탭 */
.view_tab {
width:100%;
height:65px;
list-style:none;
margin:0 0 10px 0;
padding:0px;
overflow:hidden;
}
.view_tab li {
width:25%;
float:left;
margin:0px;
padding:0px;
overflow:hidden;
}
.view_tab li a {
border-top:1px solid #dadada;
display:block;
float:left;
width:100%;
line-height:63px;
text-align:center;
text-decoration:none;
font-family:'Arial';
font-weight:bold;
margin:0px;
padding:0px;
overflow:hidden;
}
.view_tab_li_a {
border-bottom:1px solid #dadada;
height:63px;
color:#333333;
}
.view_tab_li_a_hover {
border-bottom:4px solid #f80727;
height:60px;
color:#f80727;
}
.view_tab li a:hover {
border-bottom:4px solid #f80727;
height:60px;
color:#f80727;
}



/* 상품상세 */
.list_v_c {
text-align:center;
overflow:hidden;
}





/* 상품문의 */
.view_qna_table {
border-collapse:collapse;
width:100%;
}
.view_qna_table tr th {
border-top:1px solid #cccccc;
border-bottom:1px solid #e5e5e5;
background:#f5f5f5;
color:#333333;
font-size:12px;
font-family:'Arial';
}
.view_qna_table tr td {
border-bottom:1px solid #e5e5e5;
font-size:12px;
color:#666666;
font-family:'Arial';
text-align:center;
}
.view_qna_table tr td a {
color:#666666;
text-decoration:none;
}
.view_qna_table tr td a:hover {
color:#555555;
text-decoration:none;
}
.view_qna_table_label1 {
border:1px solid #e1e6f8;
background:#ffffff;
font-size:11px;
color:#536dfe;
margin:0 auto;
padding:0px;
width:50px;
height:20px;
line-height:20px;
text-align:center;
overflow:hidden;
}
.view_qna_table_label2 {
border:1px solid #536dfe;
background:#e1e6f8;
font-size:11px;
color:#536dfe;
margin:0 auto;
padding:0px;
width:50px;
height:20px;
line-height:20px;
text-align:center;
overflow:hidden;
}
.view_qna_b {
width:auto;
margin:0px;
padding:10px;
overflow:hidden;
}
.view_qna_b a {
background:#666666;
display:block;
height:40px;
line-height:40px;
font-size:13px;
font-family:'Arial';
text-decoration:none;
color:#ffffff;
padding:0px;
overflow:hidden;
}



/* 페이징 */
.list_page {
margin-top:30px;
margin-bottom:20px;
padding:0px;
width:100%;
text-align:center;
overflow:hidden;
}
.list_page a {
text-decoration:none;
display:inline-block;
padding:8px 10px 8px 10px;
margin:0 3px 0 0;
font-size:11px;
}
.list_page a:hover {
background:#f62e3d;
color:#ffffff;
border:1px solid #b70922;
}
.list_page_a_hover {
background:#f62e3d;
color:#ffffff;
border:1px solid #b70922;
}
.list_page_a {
background:#ffffff;
color:#666666;
border:1px solid #c7c7c7;
}





/* 판매자정보 */
.view_info_table {
border-collapse:collapse;
width:100%;
}
.view_info_table tr th {
background:#f5f5f5;
border-bottom:1px solid #e5e5e5;
color:#333333;
font-weight:normal;
text-align:left;
font-size:12px;
font-family:'Arial';
}
.view_info_table tr td {
border-bottom:1px solid #e5e5e5;
color:#666666;
text-align:left;
font-size:12px;
font-family:'Arial';
}














/* 장바구니 */
.basket_bg {
width:965px;
margin:0 auto;
overflow:hidden;
}
.basket_top_p {
float:right;
height:45px;
line-height:45px;
font-size:17px;
font-family:'Arial';
font-weight:bold;
margin:0px;
padding:0px;
overflow:hidden;
}

.basket_table {
width:100%;
border-collapse:collapse;
border:1px solid #cccccc;
font-size:12px;
color:#4d4d4d;
}
.basket_table th {
background:#ebebeb;
border:1px solid #cccccc;
}
.basket_table td {
text-align:center;
background:#ffffff;
border:1px solid #cccccc;
}
.basket_table td a {
color:#4d4d4d;
text-decoration:none;
}
.basket_table td a:hover {
color:#000000;
}
.basket_input {
border:1px solid #bdbdbd;
width:35px;
height:18px;
line-height:18px;
margin:0 0 2px 0;
padding:0px;
overflow:hidden;
}
.basket_button {
background:#ffffff;
border-top:1px solid #bdbdbd;
border-right:1px solid #bdbdbd;
border-bottom:1px solid #828282;
border-left:1px solid #bdbdbd;
color:#757575;
width:37px;
height:20px;
line-height:18px;
font-size:11px;
margin:0px;
padding:0px;
overflow:hidden;
}
.basket_order{
background:#e11616;
border-top:1px solid #d81818;
border-right:1px solid #d81818;
border-bottom:1px solid #9e1212;
border-left:1px solid #d81818;
color:#ffffff;
width:70px;
height:20px;
line-height:18px;
font-size:11px;
margin:0 0 2px 0;
padding:0px;
overflow:hidden;
}
.basket_delete {
background:#ffffff;
border-top:1px solid #bdbdbd;
border-right:1px solid #bdbdbd;
border-bottom:1px solid #828282;
border-left:1px solid #bdbdbd;
color:#757575;
width:70px;
height:20px;
line-height:18px;
font-size:11px;
margin:0px;
padding:0px;
overflow:hidden;
}
.basket_b_table {
width:100%;
margin:20px 0 0 0;
border-collapse:collapse;
border-top:3px solid #333333;
border-right:1px solid #8d8d8d;
border-bottom:1px solid #8d8d8d;
border-left:1px solid #8d8d8d;
font-size:12px;
color:#333333;
}
.basket_b_table td {
background:#f7f8fc;
text-align:left;
font-weight:bold;
padding:30px 10px 30px 10px;
text-align:center;
}
.basket_b {
width:965px;
overflow:hidden;
}
.basket_b a {
background:#eb2b2b;
font-size:15px;
font-weight:bold;
color:#ffffff;
text-decoration:none;
display:block;
width:150px;
height:45px;
line-height:45px;
text-align:center;
margin:20px 0 0 0;
float:right;
border-top:1px solid #d81818;
border-right:1px solid #d81818;
border-bottom:1px solid #9e1212;
border-left:1px solid #d81818;
}

