@media screen and (max-width:796px) {

	


	
	
	

/* 탑 */
#top_bg {
background:#f2f2f2;
margin:0px;
padding:0px;
width:100%;
height:25px;
border-bottom:1px solid #e2e2e2;
overflow:hidden;
}
#top_bg ul {
margin:0 auto;
padding:0px;
list-style:none;
width:965px;
height:25px;
overflow:hidden;
}
#top_bg ul li {
float:right;
height:25px;
line-height:23px;
margin:0px;
padding:0px;
overflow:hidden;
}
#top_bg ul li a {
border-left:1px solid #c1c1c1;
text-decoration:none;
color:#666666;
font-size:11px;
margin:0 0 0 10px;
padding:0 0 0 10px;
}
	
	
	
	
	
	
	
	
/* 헤더 */
#header_bg {
border-bottom:3px solid #e33c2a;
}
#header_c_t {
display:none;
}
#header_c_b {
display:none;
}
#header_r {
display:none;
}
#header h1 {
float:right;
width:33%;
height:38px;
margin:0 auto;
padding:0px;
text-align:center;
}
#header h1 a {
width:91px;
height:38px;
text-decoration:none;
margin:10px 0 0 0;
display:inline-block;
}
#header {
width:100%;
height:60px;
margin:0 auto;
}
/* 검색 */
#header_c {
display:none;
}
#mheader_c {
display:none;
background-image:url(/mhmall-frontend/assets/images/submenubg.gif);
background-color:#ffffff;
background-repeat:repeat-x;
background-position:left bottom;
width:100%;
height:45px;
overflow:hidden;
}
#mheader_c_c {
position:relative;
border:1px solid #dcdcdc;
border-radius:5px;
margin:0 auto;
margin-top:5px;
padding:0px;
width:97%;
height:30px;
overflow:hidden;
}
#mheader_c_c_l {
position:absolute;
left:0px;
top:0px;
right:38px;
width:auto;
height:30px;
margin:0px;
padding:0px;
overflow:hidden;
}
#mheader_c_c_r {
float:right;
width:38px;
height:30px;
margin:0px;
padding:0px;
overflow:hidden;
}
#mheader_c_c_l_text {
border:0px;
margin:0px;
padding:0px;
width:100%;
height:30px;
font-size:14px;
overflow:hidden;
}
#mheader_c_c_l_button {
background:#ffffff;
border-top:0px;
border-right:0px;
border-bottom:0px;
border-left:1px solid #dcdcdc;
width:38px;
height:30px;
margin:0px;
padding:0px;
overflow:hidden;
}
#mheader_c_c_l_button div {
background-image:url(/mhmall-frontend/assets/images/msearch.jpg);
background-repeat:no-repeat;
background-size:contain;
width:18px;
height:18px;
margin:2px 0 0 9px;
padding:0px;
overflow:hidden;
}
/* 추가된 버튼들 */
#header_my {
width:33%;
height:60px;
float:left;
display:block;
overflow:hidden;
}
#header_my a {
background:#e33c2a;
width:80px;
height:60px;
float:left;
display:block;
padding:15px 0 0 0;
overflow:hidden;
}
#header_my a div {
background:#ffffff;
width:30px;
height:4px;
display:block;
margin:0 auto;
margin-top:5px;
overflow:hidden;
}

#header_searchbt {
width:33%;
height:60px;
float:right;
display:block;
overflow:hidden;
}
#header_searchbt a {
background:#e33c2a;
width:80px;
height:60px;
float:right;
display:block;
padding:0px;
overflow:hidden;
}
#header_searchbt a div {
background-image:url(/mhmall-frontend/assets/images/search.png);
background-repeat:no-repeat;
background-size:contain;
width:30px;
height:30px;
display:block;
margin:0 auto;
margin-top:15px;
overflow:hidden;
}



	
	
/* 메인 */
#contents {
width:100%;
}
#main {
width:100%;
}
.main_best {
width:auto;
float:none;
margin:10px 0 0 0;
padding:0 10px 0 10px;
overflow:hidden;
}
.arrow_l {
display:none;
}
.arrow_r {
display:none;
}
.main_best_scroll {
overflow-x:scroll;
overflow-y:hidden;
}
.main_best_scroll_in {
width:1460px;
}
	
	
	
	

/* 메인메뉴 */
.main_menu_bg {
overflow-x:scroll;
overflow-y:hidden;
}
.main_menu {
border-left:1px solid #e8e8e8;
float:none;
list-style:none;
width:auto;
min-width:600px;
padding:0px;
overflow:hidden;
}
.main_menu li {
background:url(/mhmall-frontend/assets/images/submenubg.gif) repeat-x left bottom;
float:left;
width:12.5%;
margin:0px;
padding:0px;
overflow:hidden;
}
.main_menu li a {
border-right:1px solid #e8e8e8;
border-bottom:1px solid #e8e8e8;
display:block;
text-decoration:none;
text-align:center;
margin:0px;
padding:0px;
height:35px;
line-height:35px;
font-size:12px;
font-weight:normal;
color:#676767;
overflow:hidden;
}
.main_menu li img {
display:none;
}




/* 메인최근 */
.main_list {
border-top:0px;
border-bottom:1px solid #e4e4e4;
width:auto;
margin:10px 0 5px 0;
padding:0px;
overflow:hidden;
}
.main_list h1 {
border-bottom:2px solid #aaaaaa;
float:none;
width:auto;
height:auto;
margin:0px;
padding:10px 0 5px 15px;
overflow:hidden;
}
.main_list h1 a {
font-size:14px;
text-decoration:none;
color:#676767;
}
.main_list h1 a img {
display:none;
}
.main_list_ul_bg {
overflow-y:hidden;
overflow-x:scroll;
}
.main_list ul {
float:none;
width:763px;
list-style:none;
margin:0px;
padding:0px;
overflow:hidden;
}
.main_list ul li {
border-right:1px solid #e4e4e4;
float:left;
text-align:center;
line-height:18px;
margin:0px;
padding:5px 15px 5px 15px;
height:auto;
overflow:hidden;
}
.main_list ul li a {
font-size:12px;
text-decoration:none;
color:#666666;
margin:0px;
overflow:hidden;
}
.main_list_img {
width:120px;
height:120px;
}

	
	
	
	

/* 로그인 */
.login_bg {
width:100%;
width:auto;
margin-top:15px;
overflow:hidden;
}
.login_bg h1 {
font-weight:bold;
width:auto;
font-size:25px;
color:#f43030;
margin:0 10px;
padding:0 0 10px 0;
border-bottom:3px solid #616161;
overflow:hidden;
}
.login {
width:auto;
margin:0 10px 10px 10px;
padding:20px;
background:#f7f7f7;
border-right:1px solid #e8e8e8;
border-bottom:1px solid #e8e8e8;
border-left:1px solid #e8e8e8;
overflow:hidden;
}
.login_box {
background:#ffffff;
width:auto;
margin:0 auto;
padding:20px;
border:1px solid #dcdcdc;
overflow:hidden;
}
.login_box_t {
margin:0px;
overflow:hidden;
}
.login_box_t_l {
float:none;
width:auto;
text-align:center;
margin:0 0 5px 0;
overflow:hidden;
}
.login_box_t_l input {
border:1px solid #b4b4b4;
margin:0px;
padding:0px;
width:98%;
height:35px;
font-size:12px;
color:#757575;
overflow:hidden;
}
.login_box_t a {
float:none;
margin:0 auto;
background:#ec2d2d;
border-top:1px solid #c41617;
border-right:1px solid #c41617;
border-bottom:1px solid #90100f;
border-left:1px solid #c41617;
width:98%;
height:35px;
line-height:35px;
text-align:center;
font-size:14px;
font-weight:bold;
text-decoration:none;
color:#ffffff;
display:block;
overflow:hidden;
}
.login_box_c {
font-size:12px;
text-align:left;
margin:0px;
padding:10px 0 10px 0;
overflow:hidden;
}
.login_box ul {
list-style:none;
margin:0px;
padding:0px;
overflow:hidden;
}
.login_box ul li {
width:100%;
margin:0px;
padding:0px;
overflow:hidden;
}
.login_box ul li a {
display:block;
margin:0 auto;
margin-top:5px;
padding:0px;
width:98%;
height:35px;
line-height:35px;
text-align:center;
color:#4d4d4d;
text-decoration:none;
font-size:11px;
border:1px solid #bdbdbd;
background:#f5f5f5;
overflow:hidden;
}
	
	
	
	
	
	
	
	
/* 회원가입 */
.join_first {
width:100%;
margin:20px 0 0 0;
}
.join_box1 {
float:none;
width:auto;
height:273px;
}
.join_box1 div {
margin:28px 0 0 28px;
width:24px;
}
.join_box1 p {
margin:20px 0 0 28px;
font-size:25px;
}
.join_box1 a {
width:58px;
height:22px;
line-height:22px;
margin:60px 0 0 28px;
}
.join_box2 {
float:none;
width:auto;
height:273px;
}
.join_box2 div {
margin:28px 0 0 28px;
width:24px;
}
.join_box2 p {
margin:20px 0 0 28px;
font-size:25px;
}
.join_box2 a {
width:58px;
height:22px;
line-height:22px;
margin:60px 0 0 28px;
}


/* 동의 */
.join_agree_b {
width:auto;
margin:20px 0 0 0;
}
.join_agree_b_t {
width:auto;
}
.join_agree_b_t h1 {
float:auto;
width:100%;
margin:0 0 0 30px;
}
.join_agree_b_t label {
float:left;
margin:0 0 0 30px;
}
.join_agree_b_t p {
float:left;
margin:0 0 0 3px;
}
.join_agree_b_b {
width:auto;
padding:20px;
}
.join_agree_b_b div {
width:auto;
height:200px;
padding:10px;
}


/* 회원가입 헤더 */
.join_agree {
width:100%;
margin:0px;
}
.join_agree_header {
width:100%;
padding:10px 0 10px 0;
}
.join_agree_header h1 {
float:none;
width:100%;
font-size:20px;
text-align:center;
}
.join_agree_header ul {
float:right;
width:none;
padding:0 10px 0 0;
}
.join_agree_header ul li {
font-size:13px;
}
	
	
	
	
	
	
/* 회원가입 작성 */
.joins {
width:100%;
margin:0px;
}
.joins li h1 {
float:none;
width:100%;
}
.joins li div {
padding:0 0 0 10px;
width:auto;
float:none;
}
.join_input {
width:88%;
}

.join_red_button {
width:auto;
padding:10px;
}
.join_red_button a {
margin:0px;
width:auto;
}











/* 상품보기 */
.view_bg {
width:auto;
}
.list_v_t_l {
float:none;
width:auto;
height:auto;
margin:0px;
padding:0 10px 10px 10px;
overflow:hidden;
}
.list_v_t_l img {
width:100%;
margin:10px 0 0 0;
}
.list_v_t_r {
float:none;
width:auto;
margin:0px;
padding:0px;
overflow:hidden;
}
.list_v_t_r_t {
background:#f3f3f3;
width:auto;
margin:0px;
padding:40px;
overflow:hidden;
}






/* 상품보기 탭 */
.view_tab li a {
font-size:15px;
}





/* 상품상세 */
.list_v_c {
width:100%;
}



/* 상품문의 */
.view_qna_b a {
width:95%;
margin:0 auto;
float:none;
}
.view_qna_table tr td {
padding:5px;
}
.view_qna_table tr th {
padding:5px;
}
.qna_div {
width:60px;
}



/* 장바구니 */
.basket_bg {
width:auto;
padding:5px;
}
.basket_top {
width:auto;
border-bottom:0px solid #444444;
margin:10px 0 0px 0;
padding:5px 0 5px 0;
overflow:hidden;
}
.basket_top h1 {
border-bottom:5px solid #444444;
float:none;
width:auto;
text-align:center;
margin:0px;
padding:0px;
overflow:hidden;
}
.basket_top h1 div {
float:none;
display:inline-block;
width:35px;
height:35px;
margin:0px;
padding:0px;
overflow:hidden;
}
.basket_top h1 div img {
width:35px;
height:35px;
}
.basket_top h1 p {
float:none;
display:inline-block;
height:35px;
line-height:35px;
font-size:25px;
font-family:'Arial';
margin:0 0 0 5px;
padding:0px;
overflow:hidden;
}
.basket_top ul {
float:none;
width:auto;
list-style:none;
margin:0px;
padding:0px;
overflow:hidden;
}
.basket_top li {
float:right;
margin:0px;
padding:10px 5px 10px 5px;
height:20px;
line-height:20px;
font-size:15px;
font-family:'Arial';
font-weight:bold;
overflow:hidden;
}
.basket_top li img {
width:20px;
height:20px;
}
.basket_table th {
padding:10px;
}
.basket_table td {
padding:3px;
}
.hidden-xs {
display:none;
}





/* 고객 마이페이지 */
.mypage_cust_bg {
padding:5px;
width:auto;
overflow:hidden;
}
.mypage_h {
width:auto;
height:20px;
font-size:18px;
margin-top:10px;
margin-bottom:10px;
padding:0px;
overflow:hidden;
}
.mypage_p_bg {
border:2px solid #767676;
overflow-y:hidden;
overflow-x:scroll;
}
.mypage_p {
border:0px solid #767676;
padding:0px;
list-style:none;
width:581px;
height:85px;
overflow:hidden;
}
.mypage_p li {
height:85px;
float:left;
overflow:hidden;
}
.mypage_p_01 {
width:85px;
margin:10px 0 0 10px;
padding:0px;
}
.mypage_p_02 {
background:url(/mhmall-frontend/assets/images/mypage_t_06.jpg) no-repeat left top;
width:14px;
height:85px;
margin:0 0 0 10px;
padding:0px;
}
.mypage_p_01 div {
width:100%;
height:30px;
margin:10px 0 0 0;
padding:0px;
overflow:hidden;
}
.mypage_p_01 div p {
width:50%;
height:30px;
line-height:30px;
font-size:30px;
font-family:'Arial';
font-weight:bold;
color:#f23a3a;
float:left;
margin:0px;
padding:0px;
overflow:hidden;
}
.mypage_p_01 div img {
float:right;
}





/* 리스트 */
.list_data {
width:auto;
list-style:none;
margin:0 auto;
margin-top:10px;
padding:10px;
text-align:center;
overflow:hidden;
}
.list_data li {
display:inline-block;
margin:0px;
padding:0px;
width:48%;
height:auto;
text-align:center;
}
.list_data li a {
display:block;
text-decoration:none;
font-size:12px;
color:#666666;
padding:20px 0px 20px 0px;
overflow:hidden;
}
.list_data li a:hover {
box-shadow:0px 0px 10px #bbbbbb;
}
.product_img {
width:90%;
}




/* 리스트탭 */
.list_menu_bg {
overflow-y:hidden;
overflow-x:scroll;
}
.list_menu {
float:none;
list-style:none;
width:auto;
min-width:630px;
border:1px solid #e8e8e8;
border-top:0px;
border-bottom-left-radius:0px;
border-bottom-right-radius:0px;
margin:0 auto;
padding:0px;
overflow:hidden;
}
.list_menu li {
background:url(/mhmall-frontend/assets/images/submenubg.gif) repeat-x left bottom;
float:left;
width:11.1111%;
margin:0px;
padding:0px;
overflow:hidden;
}
.list_menu li a {
font-family:'Arial';
border-right:1px solid #e8e8e8;
display:block;
text-decoration:none;
text-align:center;
margin:0px;
padding:0px;
height:35px;
line-height:35px;
font-size:12px;
font-weight:normal;
color:#676767;
overflow:hidden;
}
.list_menu li a:hover {
background-color:#e33c2a;
color:#ffffff;
}







	
	
	
	
	
}