@media screen and (min-width:1100px) {

	


	

/* 탑 */
#top_bg {
background:#f2f2f2;
margin:0px;
padding:0px;
width:100%;
height:25px;
border-bottom:1px solid #e2e2e2;
overflow:hidden;
}
#top_bg ul {
margin:0 auto;
padding:0px;
list-style:none;
width:965px;
height:25px;
overflow:hidden;
}
#top_bg ul li {
float:right;
height:25px;
line-height:23px;
margin:0px;
padding:0px;
overflow:hidden;
}
#top_bg ul li a {
border-left:1px solid #c1c1c1;
text-decoration:none;
color:#666666;
font-size:11px;
margin:0 0 0 10px;
padding:0 0 0 10px;
}
	
	
	
	
	
	
	
	
	
/* 헤더 */
#header_bg {
border-bottom:3px solid #e33c2a;
}
#header_c_t {
margin:0 auto;
margin-top:27px;
padding:0px;
width:295px;
height:20px;
list-style:none;
overflow:hidden;
}
#header h1 {
background-image:url(/mhmall-frontend/assets/images/header.jpg);
background-repeat:no-repeat;
background-size:inherit;
float:left;
width:191px;
height:128px;
margin:0px;
padding:0px;
}
#header h1 a {
width:91px;
height:38px;
text-decoration:none;
margin:50px 0 0 60px;
display:block;
}
#header {
width:965px;
margin:0 auto;
}
/* 검색 */
#header_c {
float:left;
width:520px;
height:128px;
overflow:hidden;
}
#header_c_c {
margin:0 auto;
margin-top:15px;
padding:0px;
width:397px;
height:30px;
overflow:hidden;
}
#header_c_c_l {
float:left;
width:356px;
height:30px;
margin:0px;
padding:0px;
overflow:hidden;
}
#header_c_c_r {
float:right;
width:38px;
height:30px;
margin:0px;
padding:0px;
overflow:hidden;
}
#header_c_c_l_text {
border:3px solid #fc3500;
margin:0px;
padding:0px;
width:350px;
height:24px;
overflow:hidden;
}
#header_c_c_l_button {
background:url(/mhmall-frontend/assets/images/top_search.jpg) left top no-repeat;
border:0px;
width:38px;
height:30px;
margin:0px;
padding:0px;
overflow:hidden;
}
#mheader_c {
display:none;
width:0px;
height:0px;
overflow:hidden;
}
/* 추가된 버튼들 */
#header_my {
display:none;
}
#header_searchbt {
display:none;
}


	
	
	
	
/* 메인 */
#contents {
margin:0 auto;
width:965px;
}
#main {
width:965px;
}
.main_best {
float:right;
width:750px;
margin:20px 0 0 0;
}
.main_best_scroll {
overflow-x:hidden;
overflow-y:hidden;
}

/* 메인메뉴 */
.main_menu {
float:left;
list-style:none;
width:180px;
margin:30px 0 0 0;
padding:0px;
overflow:hidden;
}
.main_menu li {
border-bottom:1px solid #e8e8e8;
margin:0px;
padding:5px 0 5px 0;
overflow:hidden;
}
.main_menu li a {
text-decoration:none;
margin:0 0 0 10px;
font-size:0px;
}



/* 메인최근 */
.main_list {
border-top:2px solid #aaaaaa;
border-bottom:1px solid #e4e4e4;
width:965px;
height:223px;
margin:10px 0 5px 0;
padding:0px;
overflow:hidden;
}
.main_list h1 {
float:left;
width:202px;
height:223px;
margin:0px;
padding:0px;
overflow:hidden;
}
.main_list h1 a {
font-size:0px;
}
.main_list ul {
float:right;
width:763px;
list-style:none;
margin:0px;
padding:0px;
overflow:hidden;
}
.main_list ul li {
border-right:1px solid #e4e4e4;
float:left;
text-align:center;
line-height:22px;
margin:0px;
padding:10px 15px 0 15px;
height:223px;
overflow:hidden;
}
.main_list ul li a {
font-size:12px;
text-decoration:none;
color:#666666;
margin:0px;
overflow:hidden;
}
.main_list_img {
width:120px;
height:120px;
}







	











/* 로그인 */
.login_bg {
width:694px;
margin:0 auto;
margin-top:40px;
overflow:hidden;
}
.login_bg h1 {
font-family:'Arial';
font-weight:bold;
width:694px;
font-size:40px;
color:#f43030;
margin:0px;
padding:0 0 15px 0;
border-bottom:5px solid #616161;
overflow:hidden;
}
.login {
margin:0px;
padding:35px 0 35px 0;
background:#f7f7f7;
border-right:1px solid #e8e8e8;
border-bottom:1px solid #e8e8e8;
border-left:1px solid #e8e8e8;
overflow:hidden;
}
.login_box {
background:#ffffff;
width:445px;
margin:0 auto;
padding:30px 0 30px 0;
border:1px solid #dcdcdc;
overflow:hidden;
}
.login_box_t {
margin:0 80px 0 80px;
overflow:hidden;
}
.login_box_t_l {
float:left;
width:200px;
overflow:hidden;
}
.login_box_t_l input {
border:1px solid #b4b4b4;
margin:0px;
padding:0px;
width:195px;
height:25px;
font-size:12px;
color:#757575;
overflow:hidden;
}
.login_box_t a {
float:right;
background:#ec2d2d;
border-top:1px solid #c41617;
border-right:1px solid #c41617;
border-bottom:1px solid #90100f;
border-left:1px solid #c41617;
width:82px;
height:55px;
line-height:55px;
text-align:center;
font-size:14px;
font-weight:bold;
text-decoration:none;
color:#ffffff;
display:block;
overflow:hidden;
}
.login_box_c {
font-size:12px;
margin:10px 80px 10px 80px;
overflow:hidden;
}
.login_box ul {
list-style:none;
margin:0 0 0 80px;
padding:0px;
overflow:hidden;
}
.login_box ul li {
float:left;
margin:0px;
padding:0px;
overflow:hidden;
}
.login_box ul li a {
display:block;
margin:0 5px 0 0;
padding:0px;
width:89px;
height:18px;
line-height:18px;
text-align:center;
color:#4d4d4d;
text-decoration:none;
font-size:11px;
border:1px solid #bdbdbd;
background:#f5f5f5;
overflow:hidden;
}




	
	



/* 회원가입 */
.join_first {
width:965px;
margin:0 auto;
margin-top:40px;
}
.join_box1 {
float:left;
width:477px;
height:273px;
}
.join_box1 div {
margin:28px 0 0 28px;
width:24px;
}
.join_box1 p {
margin:20px 0 0 28px;
font-size:25px;
}
.join_box1 a {
width:58px;
height:22px;
line-height:22px;
margin:60px 0 0 28px;
}
.join_box2 {
float:right;
width:477px;
height:273px;
}
.join_box2 div {
margin:28px 0 0 28px;
width:24px;
}
.join_box2 p {
margin:20px 0 0 28px;
font-size:25px;
}
.join_box2 a {
width:58px;
height:22px;
line-height:22px;
margin:60px 0 0 28px;
}

/* 회원가입 헤더 */
.join_agree {
width:780px;
margin:0 auto;
}
.join_agree_header {
width:780px;
padding:20px 0 20px 0;
}
.join_agree_header h1 {
float:left;
width:300px;
font-size:25px;
}
.join_agree_header ul {
float:right;
width:480px;
padding:0px;
}
.join_agree_header ul li {
font-size:17px;
}


/* 동의 */
.join_agree_b {
width:780px;
margin:20px 0 0 0;
}
.join_agree_b_t {
width:780px;
}
.join_agree_b_t h1 {
float:left;
margin:0 0 0 30px;
}
.join_agree_b_t label {
float:right;
margin:0 30px 0 0;
}
.join_agree_b_t p {
float:right;
margin:0 3px 0 0;
}
.join_agree_b_b {
width:auto;
padding:30px;
}
.join_agree_b_b div {
width:690px;
height:200px;
padding:10px;
}


/* 회원가입 작성 */
.joins {
width:600px;
margin:0 auto;
}
.joins li h1 {
float:left;
width:200px;
}
.joins li div {
padding:0px;
width:400px;
float:left;
}
.join_input {
width:88%;
}

.join_red_button {
width:800px;
}
.join_red_button a {
margin:0 auto;
width:150px;
}







/* 상품보기 */
.view_bg {
width:965px;
margin:0 auto;
}
.list_v_t_l {
float:left;
width:400px;
height:400px;
margin:0px;
padding:0 10px 0 10px;
overflow:hidden;
}
.list_v_t_l img {
width:100%;
margin:10px 0 0 0;
}
.list_v_t_r {
float:right;
width:545px;
margin:0px;
padding:0px;
overflow:hidden;
}
.list_v_t_r_t {
background:#f3f3f3;
width:565px;
margin:0px;
padding:40px;
overflow:hidden;
}


/* 상품보기 탭 */
.view_tab li a {
font-size:22px;
}




/* 상품상세 */
.list_v_c {
width:965px;
}



/* 상품문의 */
.view_qna_b a {
width:120px;
margin:0px;
float:right;
}
.view_qna_table tr td {
padding:10px;
}
.view_qna_table tr th {
padding:10px;
}





/* 장바구니 */
.basket_bg {
width:965px;
}
.basket_top {
width:auto;
border-bottom:5px solid #444444;
margin:20px 0 20px 0;
padding:15px 0 15px 0;
overflow:hidden;
}
.basket_top h1 {
float:left;
width:250px;
margin:0px;
padding:0px;
overflow:hidden;
}
.basket_top h1 div {
float:left;
width:45px;
height:45px;
margin:0px;
padding:0px;
overflow:hidden;
}
.basket_top h1 p {
float:left;
height:45px;
line-height:45px;
font-size:35px;
font-family:'Arial';
margin:0 0 0 5px;
padding:0px;
overflow:hidden;
}
.basket_top ul {
float:right;
width:600px;
list-style:none;
margin:0px;
padding:0px;
overflow:hidden;
}
.basket_top li {
float:right;
margin:0px;
padding:0 5px 0 5px;
height:32px;
line-height:32px;
font-size:20px;
font-family:'Arial';
font-weight:bold;
overflow:hidden;
}
.basket_table th {
padding:10px;
}
.basket_table td {
padding:10px;
}





/* 고객 마이페이지 */
.mypage_cust_bg {
width:800px;
margin:0 auto;
}
.mypage_h {
width:auto;
height:20px;
font-size:18px;
margin-top:10px;
margin-bottom:10px;
padding:0px;
overflow:hidden;
}
.mypage_p {
margin:0 auto;
padding:0 0 0 35px;
list-style:none;
width:761px;
height:85px;
border:2px solid #767676;
overflow:hidden;
}
.mypage_p li {
height:85px;
float:left;
overflow:hidden;
}
.mypage_p_01 {
width:85px;
margin:10px 0 0 25px;
padding:0px;
}
.mypage_p_02 {
background:url(/mhmall-frontend/assets/images/mypage_t_06.jpg) no-repeat left top;
width:14px;
height:85px;
margin:0 0 0 25px;
padding:0px;
}
.mypage_p_01 div {
width:100%;
height:30px;
margin:10px 0 0 0;
padding:0px;
overflow:hidden;
}
.mypage_p_01 div p {
width:50%;
height:30px;
line-height:30px;
font-size:30px;
font-family:'Arial';
font-weight:bold;
color:#f23a3a;
float:left;
margin:0px;
padding:0px;
overflow:hidden;
}
.mypage_p_01 div img {
float:right;
}






/* 리스트 */
.list_data {
width:945px;
list-style:none;
margin:0 auto;
margin-top:10px;
padding:10px;
text-align:center;
overflow:hidden;
}
.list_data li {
display:inline-block;
margin:0px;
padding:0px;
width:230px;
height:auto;
text-align:center;
}
.list_data li a {
display:block;
text-decoration:none;
font-size:12px;
color:#666666;
padding:20px 0px 20px 0px;
overflow:hidden;
}
.list_data li a:hover {
box-shadow:0px 0px 10px #bbbbbb;
}
.product_img {
width:80%;
}



/* 리스트탭 */
.list_menu_bg {
overflow:hidden;
}
.list_menu {
float:none;
list-style:none;
width:976px;
border:1px solid #e8e8e8;
border-top:0px;
border-bottom-left-radius:10px;
border-bottom-right-radius:10px;
margin:0 auto;
padding:0px;
overflow:hidden;
}
.list_menu li {
background:url(/mhmall-frontend/assets/images/submenubg.gif) repeat-x left bottom;
float:left;
width:11.1111%;
margin:0px;
padding:0px;
overflow:hidden;
}
.list_menu li a {
font-family:'Arial';
border-right:1px solid #e8e8e8;
display:block;
text-decoration:none;
text-align:center;
margin:0px;
padding:0px;
height:35px;
line-height:35px;
font-size:13px;
font-weight:bold;
color:#676767;
overflow:hidden;
}
.list_menu li a:hover {
background-color:#e33c2a;
color:#ffffff;
}

























}